.wrapper {
  width: 100%;
  height: 15%;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(
    to top,
    var(--color-dorado) 0%,
    #ffffff 100%
  );
  overflow: hidden;
}

.waveNote {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -800%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(160, 154, 123, 0.568);
  animation: wave 15s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@media (min-width: 800px) {
  .waveNote { 
    top: -600%; 
  }
}
