:root {
  --color-dorado: #d5b451; /* Azul oscuro */
  --color-dark: #000;
  --color-gray: #67748e;
  --color-blue: #004275;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; /* O el alto real de tu header */
}
body {
  min-height: 100vh;
  background: #f4f4fa;
  font-family: "Lora", "Roboto Mono", sans-serif;
}

header {
  background-color: #000;
  height: 80px; /* Prueba fija. Luego puedes volver a usar clamp si quieres */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px); /* desenfoque para efecto glass */
}

.logo {
  margin-left: 25px;
  margin-right: auto;
}

#LogoHeader {
  opacity: 1;
  width: clamp(50px, 15vw, 75px);
  /*  margin-top: 25px; */
}

nav {
  width: 100%;
  display: flex;
  background-color: #000;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover {
  background-color: var(--color-dorado);
  color: black;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

/* sideBar */
.menu-responsive {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px); /* desenfoque para efecto glass */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  z-index: 1000;
  justify-content: flex-start;
  align-items: start;
}
.menu-responsive li {
  width: 100%;
}

.menu-responsive a {
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

section {
  /* Sin espacio arriba por defecto */
  text-align: center;
  min-height: 85vh;
  scroll-margin-top: -10px !important; /* igual que la altura total del header */
}

/* Section Portada */
#portada {
  overflow: hidden;
  /* background-color: #004275c4; */
  position: relative;
  min-height: auto;
  height: 725px; /* <-- Aquí cambias la altura */
  overflow: hidden;
}

.Titulo {
  color: var(--color-dorado);
  margin-top: 60%;
  font-size: 2.5rem;
}

.logoOficial {
  display: none;
}
.presentacion {
  display: none;
}
#portada1 {
  width: 200px;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: linear-gradient(black 90%, transparent);
}

#portada2 {
  width: 200px;
  border-radius: 24px;
  position: absolute;
  bottom: 5%;
  right: 0;
  mask-image: linear-gradient(black 90%, transparent);
}

/* Section Notas */
#notas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#SeparadorVertical {
  width: 100%;
  height: 70px; /* o cualquier altura fija o relativa */
  display: block; /* para eliminar espacio blanco debajo */
}

#notas > h1 {
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--color-dark);
  font-size: 2rem;
  margin: 10px 0;
  font-weight: bold;
}

.galeria {
  display: flex;
  overflow-x: auto;
  padding: 24px;
  width: 80%; /* Ocupa todo el ancho disponible */
  max-width: 1000px; /* Limita el ancho máximo */
  height: 360px;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  border-radius: 8px;
  gap: 12px;
  margin: 1rem auto;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  scrollbar-width: none;
}

.galeria .item {
  min-width: 280px; /* Ancho mínimo para móviles */
  max-width: 320px; /* Ancho máximo para desktop */
  width: 90%; /* O usa 100% si prefieres */
  flex: 0 0 auto;
  padding: 0px;
  border-radius: 8px;
  scroll-snap-align: start;
}

.item h1 {
  font-size: 1.5rem;
  color: var(--color-blue);
  margin: 10px 0;
  padding: 5px 10px;
  text-align: center;
}

.item img {
  width: 90%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.item p {
  margin: 10px 0;
  padding: 5px 10px;
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  color: var(--color-gray);
  font-size: 0.9rem;
  padding: 0 20px;
}

.mensaje h3 {
  margin: 10px 0;
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05rem;
  color: var(--color-blue);
}
.mensaje > p {
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  color: var(--color-gray);
  font-size: 0.9rem;
  padding: 0 20px;
}

#card1 {
  background-color: rgba(176, 127, 255, 0.121);
}
#card2 {
  background-color: rgba(253, 94, 155, 0.121);
}
#card3 {
  background-color: rgba(202, 37, 207, 0.121);
}

/* Eventos */

#eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eventos h1 {
  margin-top: 90%;
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--color-dark);
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
  padding-top: 20px;
}

.notas {
  width: 85%;
  height: 550px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.notas .nota {
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f9f9f9;
  position: relative;
}

.nota .titulo {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-blue);
}

.contenido-nota {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nota img {
  margin-top: 20%;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.nota p {
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  color: var(--color-gray);
  font-size: 0.9rem;
  padding: 0 20px;
}

span {
  font-weight: bold;
  color: var(--color-blue);
  font-size: 1.01rem;
}

.nota .footerNote {
  text-align: center;
  margin-top: auto;
  font-size: 0.9rem;
  color: var(--color-gray);
}

/* Section Sedes */
#contacto {
  min-height: auto;
}

.container {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

.item:nth-child(1),
.item:nth-child(3) {
  flex: 1;
}

#contacto h1 {
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--color-dark);
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
}
.datos {
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.item:nth-child(1) .datos img {
  margin-top: 20px;
  height: 300px;
}

.item:nth-child(1) .datos h3 {
  margin: 30px 0;
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05rem;
  color: var(--color-blue);
}

.item:nth-child(1) .datos h4 {
  margin-top: 40px;
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05rem;
  color: var(--color-dorado);
  text-align: start;
  padding: 0 20px;
}
.direccion {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
}

.item:nth-child(1) .direccion i {
  margin-right: 10px;
}

.item:nth-child(1) .direccion p {
  text-align: start;
  margin: 10px 0;
  padding: 0;
}

.item:nth-child(2) {
  flex: 2;
}

/* mapa */
#mapa path {
  margin-top: 20px;
  fill: var(--color-gray);
  stroke: #004275;
  stroke-width: 2px;
}

#mapa path:hover {
  fill: #fafafa;
}

#mapa #MXNLE {
  fill: var(--color-dorado);
}

/* Formulario */
.item:nth-child(3) h3 {
  padding-top: 30px;
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05rem;
  color: var(--color-blue);
}
.item:nth-child(3) i {
  margin: 0 10px;
  font-size: 1.2rem;
}

.form-contacto {
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: start;
  padding: 0 20px;
}

.item:nth-child(3) .form-contacto label {
  margin-top: 15px;
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.01rem;
  color: var(--color-blue);
}

.item:nth-child(3) input {
  height: 40px;
  font-size: 1.2rem;
  border-radius: 14px;
  padding: 0 5px;
  color: var(--color-gray);
}

textarea {
  resize: none;
  font-size: 1.2rem;
  border-radius: 14px;
  padding: 5px 5px;
  color: var(--color-gray);
}

form button {
  width: 50%;
  height: 40px;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 14px;
  background-color: var(--color-blue);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  color: white;
  transition: transform 0.3s ease; /* animación suave */
}

form button:hover {
  background-color: var(--color-dorado);
  color: var(--color-dark);
  transform: scale(1.1); /* agranda 10% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.separador {
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 0.1em;
  margin: 10px 0;
}

.separador span {
  padding: 0 10px;
  color: #888;
}

#Ws {
  fill: #25d366;
}

#Ws svg {
  margin: 10px 0;
  width: 40px;
  transition: transform 0.3s ease;
}

#Ws svg:hover {
  transform: scale(1.2);
}
/* Section Historia */
footer {
  margin-top: 60px;
  height: 150px;
  background-color: var(--color-gray);
  /*   background-color: var(--color-dorado);
  mask-image: linear-gradient(to top, black 70%, transparent); */

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h4 {
  margin-top: 30px;
  color: white;
  font-family: Poppins-Bold, "Lora", "Roboto Mono", sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

footer .redes {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  font-size: 30px;
}

footer .redes i {
  color: white;
  padding: 5px;
  transition: tranform 0.2s ease;
}

footer .redes i:hover {
  transform: scale(1.2);
}

/* Botton up */
.up {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.up i{
  color: #d5b451;
  font-size: 2rem;
}

.oculto{
  opacity: 0;
}

#svgAnimacion {
  display: none;
}

@media (max-width: 800px) {
  /* Logo 1: aparece→desaparece */
  #portada1 {
    border-radius: 50%;
    display: block;
    margin-left: 20px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 0;
    animation: fade 20s ease-in-out infinite;
  }

  #portada2 {
    border-radius: 50%;
    display: block;
    margin-left: 20px;
    width: 200px;
    position: absolute;
    bottom: 30px;
    right: 0;
    animation: fade 20s ease-in-out infinite;
  }

  /* Logo 2: idéntico, pero empieza a la mitad del ciclo */
  #logoOficial1 {
    display: block;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    /* Delay de la mitad de la duración (5s/2 = 2.5s) */
    animation: fade 20s ease-in-out infinite;
    animation-delay: 10s;
  }
  #logoOficial2 {
    display: block;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    bottom: 20px;
    right: 10px;
    /* Delay de la mitad de la duración (5s/2 = 2.5s) */
    animation: fade 20s ease-in-out infinite;
    animation-delay: 10s;
  }

  /* Keyframes comunes */
  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
