.wave {
  position: absolute;
  width: 1200px;
  height: 1800px; 
  border-radius: 50%;
  opacity: 0.4;
  bottom: 0;
  left: 100%;
  /* fija el translateX aquí */
  transform: translateX(-50%);
}

.wave.-one {
  background: rgb(255, 0, 0);
  opacity: 0.05;
  animation: spin 15s infinite linear;
}

.wave.-two {
  background: rgb(180, 20, 180);
  opacity: 0.1;
  animation: spin 25s infinite linear;
}

@keyframes spin {
  from {
    /* sólo rota */
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
